body {
  background: #edf3f8;
  color: #000;
}
.nav {
  background: #2693d6;
  text-align: center;
  color: #fff;
  padding: 1rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.pro-card {
  background: #fff;
  border-radius: 20px;
  height: 350px;
  padding: auto;
  text-align: center;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}
.pro-card:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}
.btn1 {
  background: #2693d6;
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
}
.btn1:hover {
  border: 1px solid #2693d6;
  color: #2693d6;
  background: #fff;
}
.section-t {
  font-weight: bold;
  font-size: 2rem;
  color: #2693d6;
}
.pro-price {
  font-weight: bold;
  font-size: 2rem;
  color: #d6c426;
}
.card {
  background: #fff;
  border-radius: 25px;
  padding: 2rem;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);
}
.report #output {
  background: #fff;
  border-radius: 25px;
  padding: 2rem;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);
}
